
.header{
    .logo{
       width: 250px;
       @media (max-width: $media-s){ 
       width: 120px;
     }
    }
}
.mainContainer{
    background-color: $color-bg1;
    padding: 2%;

}


.baner{
    height: 70vh;
    background-color: brown;
    background: url(/img/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__img{
        background: url(/img/rihana.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 70%;
        position: relative;
        top: 10vh;
        height: 90vh;

       
    } 
    
       
        
    }

.section2{
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-color: $color-bg2;
    .circle{
        width: 8vw;
        height: 8vw;
        border-radius: 100%;
        background: url(/img/mar.jpg);
    }
}
.section3{
    height: 40vh;
    background-image: url(/img/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.section3__img{
    position: relative;
    bottom: 15vh;
    @media (max-width: $media-s){ 
        bottom: 25vh;
      }
    img{
        width: 200px;
    }
  

}
.section4{
    background-color: $color-bg3;
    padding-bottom: 5vh;
}
.section4__img{

    img{
        width: 300px;
    }
  

}
.footer{
    border-top: 1px solid $color-txt1;
    background-color: $color-bg1;
    padding: 2%;
}


.footer-ico{
    width: 300px;
    span{
        cursor: pointer;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: $color-txt1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ico{
    fill: $color-bg1;
    &:hover{
        fill: crimson;
    }
    width: 30px;
    height: 30px;
   }

}


    