@if $include-fonts == true {

@font-face {
   font-family: principal;
   //font-display: swap;
   src: url(../typo/Roboto-Black.ttf)
}
@font-face {
   font-family: secondary;
   //font-display: swap;
   src: url(../typo/Baloo2-Bold.ttf)
}
@font-face {
   font-family: complementary;
   //font-display: swap;
   src: url(../typo/Satisfy-Regular.ttf)
}

}